.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #163A95;
}

.featureImg {
  width: 100%;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 150px;
  width: 150px;
}

.filterCheckbox {
  justify-content: space-between;
}

.filterCheckbox,
.checkboxList {
  display: flex;
  align-items: center;
}

.filterCheckbox > div:first-child {
  display: flex;
  flex: 1 1 auto;
  align-items: flex-end;
}

.filterCheckbox > div > * {
  margin-bottom: 0;
  margin-right: 8px;
}

.checkboxList {
  flex-wrap: wrap;
}

.checkboxList,
.showcaseList {
  padding: 0;
  list-style: none;
}

.checkboxListItem {
  user-select: none;
  white-space: nowrap;
  height: 32px;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

.checkboxListItem:last-child {
  margin-right: 0;
}

.searchContainer {
  margin-left: auto;
}

.searchContainer input {
  height: 2rem;
  border-radius: 15px;
  padding: 1rem;
  border: 1px solid var(--ifm-color-primary-darkest);
  background-color: transparent!important;
}

.showcaseList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1rem;
}

.showcaseFavorite {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: var(--site-color-favorite-background);
}

.showcaseHelpWanted {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #33d4f4;
}

.helpText{
  color: #245e94;
}


.showcaseFavoriteHeader {
  display: flex;
  align-items: center;
}

.showcaseFavoriteHeader > h2 {
  margin-bottom: 0;
}

.showcaseFavoriteHeader > svg {
  width: 30px;
  height: 30px;
}

.svgIconFavoriteXs,
.svgIconFavorite {
  color: var(--site-color-svg-icon-favorite);
}

.svgIconFavoriteXs {
  margin-left: 0.625rem;
  font-size: 1rem;
}

.svgIconFavorite {
  margin-left: 1rem;
}

ul li input[type="checkbox"] {
  display: none;
}

.hide {
  display: none;
}