.announcementBarBackground {
    background: linear-gradient(180deg, #002948 0%, #004275 98.96%);
    color: #ffffff;
    font-size: 13px;
    margin-top: -2px;
}

.announcementBarContainer {
    align-content: center;
    text-align: center;
    color: #ffffff;
}

.announcementBarContent {
    padding: 1rem 0;
    margin: 0;
    text-align: center;
}

.announcementLink {
    color: #ffb3bb;
    font-weight: 600;
}

.announcementLink:hover {
    color: #ffb3bb;
    font-weight: 600;
}

.announcementBarIconContainer {
    align-content: center;
    text-align: right;
}

.icon {
    transition: all .2s;
}

.icon:not(:first-child) {
    padding-left: .5rem;
}

.icon:hover {
    filter: opacity(.8);
}

@media screen and (max-width: 997px) {
    .announcementBarIconContainer {
      text-align: center;
      margin-bottom: 1rem;
    }
  }
  